*.class

# Package Files #
*.jar
*.war
*.ear
/AirlineReservastionClient/build/
/AirlineReservastionClient/nbproject/private/
/HotelResevationService/build/
/HotelResevationService/dist/
/AirlineReservation/dist/
/HotelReservationServiceClient/build/